
.border-gray {
  border-right: 1px solid lightgray;
}

.border-top-gray {
  border-top: 1px solid lightgray;
}

.border-start-gray {
  border-left: 1px solid lightgray;
}

.button {
  background-color: #F48224;
  font-size: x-small;
}

.lista {
  a{
    color: #F48224;
  }
}

.itemc {
  color: #F48224;
}

hr {
  color: gray;
}

.text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.border-gray2{
  border: 1px solid lightgrey;
}

.btn-orange {
  background-color: #F48224;
  color: white;
}

