
<div class="container-fluid">
  <div class="container">
    <div class="row ">

      <!-- Left side -->
      <div class="col-md-2 border-gray p-3">
        <a routerLink="/home">Home</a>
        <hr>
        <strong>Public</strong>

        <div class="list-group list-group-light">
          <a class="list-group-item list-group-item-action px-3 border-0" routerLink="/forum">Questions</a>
          <a class="list-group-item list-group-item-action px-3 border-0" routerLink="/categories">Categories</a>
          <a class="list-group-item list-group-item-action px-3 border-0" routerLink="/users">Users</a>
        </div>

        <hr>

        <p>Community</p>
        <div class="border-gray2 p-2">
          <strong>Join the Community</strong>
          <p>Start collaborating and sharing with our community.</p>
          <img class="img-fluid" src="../../assets/community3.svg" alt="">
          <button class="btn button mt-2 text-light" routerLink="/register">Create a free account</button>
        </div>

        <hr>

        <div class="bg-white text-sm">
          <h4 class="px-3 py-4 op-5 m-0 roboto-bold">
            Stats
          </h4>
          <hr class="my-0">
          <div class="row text-center d-flex flex-row op-7 mx-0">
            <div class="col-sm-6 flex-ew text-center py-3 border-bottom border-right"> <a
                class="d-block lead font-weight-bold" *ngIf="categorie">{{categorie.length}}</a> Categories </div>
            <div class="col-sm-6 col flex-ew text-center py-3 border-bottom mx-0"> <a
                class="d-block lead font-weight-bold" *ngIf="posts">{{posts.length}}</a> Posts </div>
          </div>
          <div class="row d-flex flex-row op-7">
            <div class="col-sm-6 flex-ew text-center py-3 border-right mx-0"> <a
                class="d-block lead font-weight-bold" *ngIf="usersList">{{usersList.length}}</a> Members </div>
            <div class="col-sm-6 flex-ew text-center py-3 mx-0"> <a
                class="d-block lead font-weight-bold" *ngIf="lastUser">{{lastUser[0].username}}</a> Newest Member </div>
          </div>
        </div>

        <!-- Main content -->

      </div>
      <div class="col-md-8 p-3">
        <div class="d-flex justify-content-between">
          <h3>All Questions</h3>
          <button class="btn btn-orange" routerLink="/addPost">Ask Question</button>
        </div>

        <div class="d-flex justify-content-between mt-4">
          <p><span>{{posts.length}}</span> questions</p>

          <form class="d-flex input-group w-auto" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" search required ngModel name="search" />
            <button class="input-group-text border-0" type="submit" id="search-addon">
              <i class="fas fa-search"></i>
            </button>
          </form>

          <div>
            <div mdbDropdown class="dropdown">
              <a
                class="btn btn-outline-primary dropdown-toggle"
                role="button"
                id="dropdownMenuLink"
                mdbDropdownToggle
                aria-expanded="false"
              >
                Order by
              </a>
              <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" (click)="getPosts(0)">Date</a></li>
                <li><a class="dropdown-item" (click)="getPostsByTitle(0)">Title</a></li>
                <li><a class="dropdown-item" (click)="getPostsByCategoria(0)">Category</a></li>
              </ul>
            </div>
          </div>

        </div>

        <div class="cardd border-top-gray d-flex justify-content-center py-3 align-items-baseline"
          *ngFor="let item of posts">
          <div class="d-flex flex-column w-25 ms-5 lh-1">
            <p><span>{{item.miPiace}}</span> Likes</p>
            <p><span>{{item.risposte.length}}</span> Answers</p>
            <p><span>0</span> Views</p>
          </div>
          <div class="w-75 me-5">
            <a [routerLink]="['/post/', item.id]" ><p class="text">{{item.title}}</p></a>
            <p class="text">{{item.descrizione}}</p>

            <div class="d-flex justify-content-between">
              <p class="badge badge-primary">{{item.categoria}}</p>
              <div class="d-flex">
                <a [routerLink]="['/profile/', item.user.id]">{{item.user.username}}</a>
                <p>, <strong>{{item.risposte.length}}</strong> Asked</p>
              </div>
            </div>

          </div>

        </div>

        <nav aria-label="..." *ngIf="pageSwitch" class="d-flex justify-content-center">
          <ul class="pagination pagination-lg">
            <li class="page-item active" aria-current="page" *ngFor="let item of [].constructor(pageData?.totalPages); let i = index">
              <span class="page-link me-2" (click)="getPosts(i)">
                {{i + 1}}
                <span class="visually-hidden">(current)</span>
              </span>
            </li>
          </ul>
        </nav>



      </div>

      <!-- right side -->

      <div class="col-md-2 border-start-gray p-3">
        <div>
          <strong>Top 3 questions</strong>

          <div class="card mb-3" *ngFor="let item of top3">
            <a class="card-header text" [routerLink]="['/post/', item.id]">{{item.title}}</a>
            <p class="cart-item text">{{item.descrizione}}</p>
          </div>

        </div>
        <hr>

        <div>
          <strong>Categories</strong>
          <li class="list-group-item border-0 "><a [routerLink]="['/forum']" (click)="getPosts(0)" class="itemc"> ALL CATEGORIES </a></li>
          <ul class="list-group lista" *ngFor="let item of categorie">
            <li class="list-group-item border-0"><a [routerLink]="['/forum/', item]" (click)="getPostCategory(item)">{{item}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
