<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" routerLink="/forum" >
        <img
          src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp"
          height="20"
          alt=""
          loading="lazy"
          style="margin-top: 2px;"
        />
      </a>
    </div>
    <!-- Left elements -->

    <!-- Center elements -->
    <ul class="navbar-nav flex-row d-none d-md-flex">
      <li class="nav-item me-3 me-lg-1 active"  >
        <a class="nav-link" routerLink="/home" routerLink="/dashboard" *ngIf="isLogged() && isAdmin()">
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1 active">
        <a class="nav-link" routerLink="/forum">
          <span>Forum</span>
        </a>
      </li>
    </ul>
    <!-- Center elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-1" *ngIf="isLogged()">
        <a class="nav-link d-sm-flex align-items-sm-center" *ngIf="user" [routerLink]="['/profile/', user.id]">
          <img
            src="{{user.imgUrl}}"
            class="rounded-circle"
            height="22"
            alt=""
            loading="lazy"
          />
          <a  class="d-none d-sm-block ms-1" *ngIf="(username$ | async) as username">{{username}}</a>
        </a>
      </li>
      <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
        <a
          class="nav-link dropdown-toggle hidden-arrow"

          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          <i class="fas fa-comments fa-lg"></i>

          <span class="badge rounded-pill badge-notification bg-danger">6</span>
        </a>

        <ul
          mdbDropdownMenu
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" >Some news</a>
          </li>
          <li>
            <a class="dropdown-item">Another news</a>
          </li>
          <li>
            <a class="dropdown-item" >Something else here</a>
          </li>
        </ul>
      </li>
      <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
        <a
          class="nav-link dropdown-toggle hidden-arrow"

          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          <i class="fas fa-bell fa-lg"></i>
          <span class="badge rounded-pill badge-notification bg-danger">12</span>
        </a>
        <ul
          mdbDropdownMenu
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" >Some news</a>
          </li>
          <li>
            <a class="dropdown-item" >Another news</a>
          </li>
          <li>
            <a class="dropdown-item" >Something else here</a>
          </li>
        </ul>
      </li>
      <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
        <a
          class="nav-link dropdown-toggle hidden-arrow"

          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          <i class="fas fa-chevron-circle-down fa-lg"></i>
        </a>
        <ul
          mdbDropdownMenu
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" *ngIf="!isLogged()" routerLink="/login">Login</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/register">Registrati</a>
          </li>
          <li>
            <button (click)="logout()" *ngIf="isLogged()" class="dropdown-item" >Logout</button>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Right elements -->
  </div>
</nav>
<!-- Navbar -->

<router-outlet></router-outlet>


<footer class="bg-dark text-center text-white mb-0">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
