.messages {
  width: 100%;
  height: 83vh;
  overflow: scroll;
  padding: 20px;
  margin-bottom: 0;
}

/* .container_ {
  height: 80vh;
} */

/* .background {
  background-image: url("https://cutewallpaper.org/27/chat-background-wallpaper-hd/telegram-chat-backgroundspatterns-extracted-%E2%80%94-1a23-blog.png");
  background-size: cover;
} */

form {
  background-color: aliceblue;
}

