<div class="container-fluid">

    <div class="container d-flex justify-content-center bg-light p-3" *ngIf="receiverUser">
      <img src="{{receiverUser.imgUrl}}" class="rounded-circle" height="22" alt="" loading="lazy" />
      <strong>{{receiverUser.username}}</strong>
    </div>

    <div class="container messages background">

      <div *ngFor="let item of messages">
        <p *ngIf="loggedUser?.id == item.sender?.id" class="text-end">
          <span class="badge badge-primary fs-5">
            {{item.sender.username}}: {{item.message}}
          </span>
        </p>
        <p *ngIf="loggedUser?.id != item.sender?.id" class="text-start">
          <span class="badge badge-secondary fs-5">
            {{item.sender.username}}: {{item.message}}
          </span>
        </p>
      </div>


    </div>
    <div class="container">
      <form class="form d-flex mb-3" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <mdb-form-control class="w-75">
          <input mdbInput type="text" id="form1" class="form-control mt-2" message ngModel name="message" />
          <label mdbLabel class="form-label" for="form1">Message</label>
        </mdb-form-control>
        <button class="btn btn-primary w-25" type="submit">Send</button>
      </form>
    </div>

</div>
